<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MapleCW</string>
	<key>CFBundleIdentifier</key>
	<string>local.maplecw.client</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MapleCW</string>
	<key>CFBundleDisplayName</key>
	<string>MapleCW</string>
	<key>CFBundleIconFile</key>
	<string>MapleCW</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@BUILD@</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>MapleCW connects to your MapleCW server, which may be on your local network.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
